@CHARSET "ISO-8859-1";
		body{font-size: 12px ;font-family: arial}	
		.pdfdesign{border-collapse:collapse; width:100%}
        .pdfdesign td{border:1px solid #555 ;}
        .pdfdesign .noborder{border:none !important}
        .pdfdesign tr.space td{padding:2px 3px}
        .pdfdesign tr .nospac{padding:0 !important}
        .pdfdesign .total span{display:block; float:left; width:150px}
        .blue-button{margin:0; padding:0; border:1px solid #3079ed; background:url(../images/bluebtn.jpg); height:27px; padding:0 13px; color:#FFF; font-weight:bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer }
        .blue-button:hover{box-shadow:0 0 5px #CCC; -moz-box-shadow: 0 0 5px #CCC; -webkit-box-shadow: 0 0 5px #ccc; border-color:#0b5587} 	